<%- include partials/begin.ejs %>
<%- include partials/navigation.ejs %>


<div class="container">

    <div class="jumbotron" style="background-color: #FFFFFF">
        <% if(typeof object == 'object' && object && object.length > 0){ %>
        <div class="row">
            <% var no = 0; object.forEach(function(details){ no++;%>
            <div class="col-sm-6">
                <div class="card<% if(details.disabled===true){ %> dis<% } %>">
                    <div class="card-body">
                        <div class="card-title h5-alt">Title: <%= details.name %></div>
                        <div class="card-subtitle h6-alt">Type: <%= details.type %></div>
                        <div class="col-12 top-buffer-lg"></div>
                        <h6 class="card-subtitle mb-2 text-muted">Version no: <%= details.form_version_no %></h6>
                        <a href="update-form?document_no=<%= details.form_layout_no%>&version_no=<%= details.form_version_no%>" class="btn btn-primary btn-block">Update Form</a>
                        <div class="top-buffer"></div>
                        <div class="toggle-enable btn btn-secondary btn-block" data-status="<%=details.disabled%>" data-layout="<%= details.form_layout_no %>"><% if(details.disabled===true){ %>Enable<% }else{ %>Disable<% } %></div>
                    </div>
                </div>
            </div>
            <% if(no%2===0){ %>
            <div class="col-12 top-buffer-lg"></div>
            <% } %>
            <% }) %>
        </div>
        <% } else { %>
        <h3>There are no forms yet.</h3>
        <p><% if(admin==true){ %> Click <a href="/create-form">here</a> to create one.<% } %></p>
        <% } %>
    </div>
    <script>
        $(function() {
            $(".toggle-enable").click(function () {
                const layout = $(this).data("layout");
                const status = $(this).data("status");
                $.ajax({
                    url: 'toggle-disabled',
                    data: {layout:layout,status: status},
                    type: 'POST',
                    success: function() {
                        location.reload(true);
                    }
                });
            })
        });
    </script>
</div>

<%- include partials/confirm-logout.ejs %>
<%- include partials/end.ejs %>