<%- include partials/begin.ejs %>
<%- include partials/navigation.ejs %>
<div class="container">
    <div class="jumbotron" style="background-color: #FFF; margin: 0; padding-bottom: 0">
        <div class="row col-12">
            <label class="col-4 col-form-label" for="form_type">Form Type *</label>
            <div class="form-group col-4">
                <select type="text" name="form_type" id="form_type" class="form-control" required >
                    <option value="individual">Individual</option>
                    <option value="module">Module</option>
                </select>
            </div>
        </div>
        <div class="top-buffer-lg"></div>
        <div class="h3-alt">Update: <%= form_layout.name %></div>

        <%- include partials/edit.ejs %>

    </div>

    <div class="jumbotron" style="background-color: #FFFFFF;">
        <div class="h5-alt">Preview:</div>
        <p class="row col-12">
            <input class="form-check-input" type="checkbox" id="toggle-controls">
            <label class="form-check-label" for="toggle-controls">
                Toggle Controls
            </label>
        </p>
        <hr>
        <div class="jumbotron">
            <form class="form-row" id="newForm">
                <%- form_layout.raw_html %>
            </form>
        </div>

        <form class="form-row" id="submit_layout">
            <div class="form-group col-2">
                <button type="submit" class="btn btn-success">Update Form</button>
            </div>
        </form>
    </div>

</div>
</div>

<script>

    var form_name = "";
    var array_of_questions = <%= form_layout.questions %>;

    $("#form_type").val("<%=form_layout.form_type%>");

</script>
<script src="javascripts/update-form.js"></script>



<%- include partials/confirm-logout.ejs %>
<%- include partials/end.ejs %>